body{
    background-color: #aed0e2;
    margin-left: 0.25rem;
    margin-right: 0.25rem;
}

.fcont{
    margin: 1rem;
    border: 2px solid black;
    border-radius: 0.75rem;
    background-color: #eee;
    color: #000
}


img{
    max-width: 55%;
}

.isRight{
    border-left: 3px solid #000;
    padding-left: 10%;
    font-weight: 500;
}

.fa{
    padding-right: 5%;
    color: black;
    margin-bottom: 1.75rem;
}

a{
    text-decoration: none;
    font-size: large;
    color: #000;
    font-weight: bold;
}

a:hover{
    color: rgb(20, 184, 47);
}

@media(max-width: 768px){


    .fcont{
        margin: 10px;
    }

    .row{
        display: inline;
        margin: auto;
    }

    .isRight{
        border-left: none;
    }
    .topBorder{
        border-top: 3px solid #000;
        padding-top: 7%;
    }
    .bottomBorder{
        padding-bottom: 7%;
    }
  
}